#divid2
{
    transform: translate(1200px,-25px);
}
#divid3
{
    transform: translate(1200px,500px);
}
#divid4
{
    transform: translateY(485px);
}
#divid5
{
    transform: translate(600px,200px);
}