h1
{
    text-shadow: 2px 3px 2px red,5px 5px 5px blueviolet;
}
.divclass
{
    background-color: blueviolet;
    color: lightblue;
    height: 200px;
    width: 200px;
    margin: 10px;
    box-shadow: 20px 20px 10px black, 30px 30px 10px orangered;
    border: 3px solid black;
}
.divclass2
{
    background-color: orange;
    color: black;
    width: 200px;
    height: 200px;
    margin: 50px;
    box-shadow: 1px 1px black,-1px -1px black;
}
