*
{
    margin: 0;
    padding: 0;
}
div
{
    background-color: aqua;
    width: 200px;
    height: 200px;
    border: solid black 3px;
    margin: 10px;
}
#id1
{
    transform:perspective(10px) translateZ(-10px);
}
#id2
{
    rotate:1 1 1 90  deg;
}
