*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.outer
{
    background-color: blueviolet;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}
.inner
{
    text-align: center;
    font-size: 2rem;
    background-color: aqua;
    width: 200px;
    height:400px;
    animation-name: shankz;
    animation-direction: alternate;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-delay: 0.5s;
}
@keyframes shanks
{
    from
    {
        background-color: aqua;
    }
    to
    {
        background-color: goldenrod;
        width: 100vw;
    }
}
@keyframes shankz
{
    0%
    {
        background-color: orangered;
        width: 10%;
    }
    25%
    {
        background-color: rebeccapurple;
        width: 50%;
    }
    50%
    {
        background-color: brown;
        width: 75%;
    }
    100%
    {
        background-color: gold;
        height: 100vh;
        width: 100vw;
    }
}